.convertItem{
  width: 47%;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 25px 50px 20px 50px;
  border-radius: 30px;
  p:first-child{
    color: #6038FF;
    font-weight: 600;
    margin-bottom: 4%;
    font-size: 1rem;
  }
  p:last-child{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
  }
}
.inputContainer{
  width: 100%;
  margin-bottom: 4%;
}